.esplly {
    padding: 94px 0;
}

.esplly__list {
    display: flex;
    flex-wrap: wrap;
}

.esplly__item {
   width: calc((100% - 90px) / 4); 
   margin-right: 30px;
}

.esplly__item:nth-child(4n) {
    margin-right: 0;
}

.esplly__icon-box {
    width: 100%;
    height: 120px;
    background-color: #F5F4FA;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esplyy__title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.esplyy__text {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-secondary-text);
}